.trending {
  background: #1c1c1c;
  padding: 15px 0;
  border-radius: 8px;
}

.trending h3 {
  font-size: 18px;
  margin: 0 0 15px;
  color: #ff6633;
  padding: 0px 15px;
}

.trend-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #ddd;
  border-radius: 4px;
  transition: color 0.3s ease;
}

.trend-item:hover {
  color: #ffcc00; /* chữ vàng khi hover */
}

/* xen kẽ màu nền */
.trend-item:nth-child(odd) {
  background: #1c1c1c; /* tối */
}

.trend-item:nth-child(even) {
  background: #2a2a2a; /* sáng */
}

.rank {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  background: #ff7043;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
  flex-shrink: 0;
}
/* Episodes */
.episodes {
  margin-top: 25px;
  background: #1c1c1c;
  padding: 15px;
  border-radius: 8px;
}
.episodes h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #ff6633;
}
.episode-list a {
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  background: #333;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
.episode-list a:hover {
  background: #ff6633;
}

.actors {
  margin-top: 25px;
  padding: 15px;
  background: #1c1c1c;
  border-radius: 8px;
}

.actors h3 {
  margin: 0 0 15px;
  font-size: 18px;
  color: #ff6633;
}

.actor-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.actor-item {
  text-align: center;
  width: 100px;
}

.actor-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  background: #111;
  display: block;
  margin: auto;
}

.actor-item p {
  margin-top: 8px;
  font-size: 13px;
  color: #ccc;
}

/* Description */
.description {
  margin-top: 25px;
  padding: 15px;
  background: #1c1c1c;
  border-radius: 8px;
}
.description h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #ff6633;
}
.description p {
  font-size: 15px;
  line-height: 1.6;
  color: #ccc;
}
/* Tags */
.tags {
  margin-top: 20px;
}
.tag {
  display: inline-block;
  background: #333;
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  border-radius: 4px;
  font-size: 13px;
  color: #ff9800;
  text-decoration: none;
}
/* Phim đề cử */
.recommend {
  margin-top: 60px;
}

.recommend h3 {
  font-size: 18px;
  color: #ff6633;
  margin-bottom: 30px;
}

.recommend-list {
  display: flex;
  gap: 15px;
  padding: auto;
}

.recommend-item {
  flex-shrink: 0;
  width: 160px;
  background: #1c1c1c;
  border-radius: 8px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: block;
  color: inherit;
}

.recommend-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recommend-item p {
  font-size: 14px;
  color: #fff;
  padding: 8px;
  margin: 0;
  background: #262626;
}

.recommend-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff9800;
}
